@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');




body {
  margin: 0;
  padding: 0;
  background-color: white;
  position: relative;
  z-index: 10;
}
*{
  box-sizing: border-box;
  font-family: 'JOST', sans-serif;
  outline: none!important;
}
#logo{
  display: none;
}
.img{
  text-align: center;
  margin-top: 20px;
}

img{
  width: 95px;
  height: 95px;
  box-shadow: 0 0 0 1.5px #7fa3bb;
  border-radius: 100px;
  text-align: center;
  margin-bottom: -60px;
  background-color: white;
  padding: 5px;
}
input{
  border: none;
  outline: none;
  border-radius: 21px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.15);
  width: 55%;
  margin: auto;
  font-size: 14px;
  font-weight: 400;
  transition: 0.2s ease;
  margin-top: 10px;
  text-align: center;
  margin-left: 2.5px;
  margin-right: 2.5px;
  color: white;
}
input::placeholder{
	color: white;
	opacity: 0.5;
}
input:focus{
  background-color: transparent;
  box-shadow: 0 0 0 1px white;
}
h1{
  text-align: center;
  font-size: 15px;
  color: white;
  line-height: 30px;
  margin-top: 30px;
}
h5{
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 400;
}
#s{
  color: rgba(0, 71, 119, 1);
  background-color: rgba(255, 255, 255, 0.15);
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
}
hr{
  width: 300px;
  border: none;
  background-color: white;
  height: 1px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-top: 20px;
  animation: hr-animation 2s ease ;
}
@keyframes hr-animation{
  0%{
    width: 0;
  }
  100%{
    width: 300px;
  }
}
h3{
  margin-top: 40px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 500;
}
h3::before{
  content: "•";
 margin-right: 5px;
 margin-left: -10px;
 color: white;
}
h3::after{
 content: "•";
 margin-left: 5px;
 margin-right: -10px;
 color: white;
}
span{
  color: rgba(116, 0, 0, 1);
}

#submit{
  width: 95%;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  border: none;
  height: 50px;
  color: white;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 20px;
  outline: none;
  transition: 0.2s ease;
  letter-spacing: 0.5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.13);
}
#submit:active{
	transform: scale(0.95);
}
#submit:focus{
  color: white;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.15);
  background-color: transparent;
}
#submit i{
  font-size: 16px;
  transform: translateY(0.8px) translateX(-2px);
}
.container{
	width: 100%;
  padding: 15px 5px 150px 5px;
  background-color: white;
  text-align: center;
  margin-bottom: 0px;
  background: linear-gradient(180deg, rgba(0, 71, 119, 1), rgba(0, 109, 62, 1));
  z-index: 11;
  overflow: hidden;
}
form{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.moduls{
	width: 95%;
	background-color: rgba(0,0,0,0.04);
	border-radius: 30px;
	margin: 10px auto;
	box-shadow: 2px 2px 9px rgba(0,0,0,0.15);
	opacity: 0;
	transition: opacity 1s, transform 0.5s ease;
}
.annimation1{
	transform: translateX(-100px)
}
.annimation2{
	transform: translateX(100px)
}
@media only screen and (min-width:700px){
	.moduls{
		width: 48%;
	}
}
.degree-good, .credit-good{
  color: rgba(20, 148, 0, 1);
  background-color: rgba(20, 148, 0, 0.10);
  font-weight: 700;
  border-radius: 9px;
  /*width: 90%;*/
  margin: auto;
  margin-top: 10px;
  font-size: 24px;
  opacity: 0;
  transition: 0.3s ease;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.degree-bad, .credit-bad{
  color: rgba(148, 0, 0, 1);
  background-color: rgba(148, 0, 0, 0.10);
  font-weight: 700;
  border-radius: 9px;
  /*width: 90%;*/
  margin: auto;
  margin-top: 10px;
  font-size: 24px;
  opacity: 0;
  transition: 0.3s ease;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.degree, .credit{
  color: rgba(148, 0, 0, 1);
  margin: auto;
  padding: 3px 10px;
  width: 90%;
  margin-top: 10px;
  height: 32px;
  font-size: 24px;
  transition: 0.3s ease;
}
#credit-span{
  color: rgba(0, 71, 119, 1);
}
#credit-span::before{
  content: "";
  margin: auto;
}
.note{
	text-align: center;
	margin-top: -110px;
}
#degreeh{
  box-shadow: 2px 2px 9px rgba(0,0,0,0.20);
  border-radius: 15px;
  padding: 20px;
  margin: auto;
  width: 90%;
  color: rgba(0, 71, 119, 1);
  background-color: rgba(255, 255, 255, 1);
}
#degreeh::before{
  content: "";
  margin: auto;
}

footer{
  position: absolute;
  bottom: -400px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 71, 119, 1);
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-top: 2px solid rgba(0, 71, 119, 0.20);
  box-shadow: -1px 0 0 3px rgba(0, 71, 119, 0.30);
}
footer div{
  padding: 40px;
}
footer #by{
  color: rgba(189, 228, 255, 1);
  font-weight: 700;
  transform: translateX(-5px)
}
footer button{
  color: white;
  font-size: 35px;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: none;
  transition: 0.3s ease;
  margin-left: -5px;
  padding-top: 3px;
  width: 55px;
  height: 55px;
}
footer button:focus{
  transform: scale(0.8);
  background-color: white;
  color: rgba(0, 71, 119, 1);
  border-radius: 100px;
}
#checked{
  font-size: 20px;
  margin-left: 10px;
  transform: translateY(1px);
}
@keyframes checked-animation{
  0%{
    transform: translateY(1px) scale(1)
  }
  30%{
    transform: translateY(1px) scale(1.5)
  }
  60%{
    transform: translateY(1px) scale(0.7)
  }
  100%{
    transform: translateY(1px) scale(1)
  }
}
.span-moy{
  color: white;
  opacity: 0.5;
}
.span-moy-good{
	padding: 2.5px 10px;
  color: white;
  background-color: rgba(20, 148, 0, 0.50);
  border-radius: 10px;
  font-weight: 500;
}
.span-moy-bad{
	padding: 2.5px 10px;
  color: white;
  background-color: rgba(148, 0, 0, 0.65);
  border-radius: 10px;
  font-weight: 500;
}


.info{
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: center;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.13);
  width: 95%;
  margin: auto;
  border-radius: 19px;
}
.info p{
  font-weight: 500;
  padding: 1px 8px;
  color: white;
}
.info p span{
  color: white;
  opacity: 0.5;
}
.info p span span{
}


#day{
  margin-bottom: -10px;
}
#day span{
  color: rgba(189, 228, 255, 1);
}
.down-div{
  margin-top: -75px;
  width: 100%;
  text-align: right;
}
#lic-btn button{
  right: 10px;
  width: 110px;
  border: none;
  outline: none;
  height: 33px;
  border-radius: 100px;
  border-top-right-radius: 70px;
  background-color: rgba(0, 71, 119, 0.80);
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 13px;
  transition: 0.2s ease;
}
#lic-btn i{
  font-size: 15px;
  margin-right: 5px;
  transition: 0.2s ease;
}
#lic-btn button:focus{
  border: 2px solid rgba(0, 71, 119, 0.50);
  color: rgba(0, 71, 119, 1);
  background-color: transparent;
  transform: scale(0.93);
  
}


.inputs{
  display: inline;
}
.inputs input{
  width: 25%
}
